[submodule "primer-html-gastonfp"]
	path = primer-html-gastonfp
	url = https://github.com/UCC-LabCompu2/primer-html-gastonfp.git
[submodule "proyecto-darcula-teamweb"]
	path = proyecto-darcula-teamweb
	url = https://github.com/UCC-LabCompu2/proyecto-darcula-teamweb.git
